/****** Object:  Database [VehicleHotSpotDb]    Script Date: 2021-12-17 11:21:25 ******/
CREATE DATABASE [VehicleHotSpotDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleHotSpotDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VehicleHotSpotDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleHotSpotDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VehicleHotSpotDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleHotSpotDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  User [User]    Script Date: 2021-12-17 11:21:25 ******/
CREATE USER [User] FOR LOGIN [User] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [User]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [User]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [User]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [User]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [User]
GO
ALTER ROLE [db_datareader] ADD MEMBER [User]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [User]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [User]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [User]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2021-12-17 11:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[customerId] [uniqueidentifier] NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle]    Script Date: 2021-12-17 11:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle](
	[vin] [varchar](8) NOT NULL,
	[regNo] [varchar](7) NULL,
	[longitude] [float] NULL,
	[latitude] [float] NULL,
 CONSTRAINT [PK_vehicle] PRIMARY KEY CLUSTERED 
(
	[vin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicleUserRelation]    Script Date: 2021-12-17 11:21:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicleUserRelation](
	[vin] [varchar](8) NOT NULL,
	[customerId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
